In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 4.4 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 43.1 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.1 pandas-1.3.1

In [4]:
import pandas as pd

In [21]:
# Importing the raw data
survey = pd.read_csv("surveydata.csv", sep = "\t")
name = pd.read_csv("Names.csv", sep = "\t", index_col= "Survey Name")

In [6]:
#Checking the import of the raw data
survey.head()

,Week,Month,Year,DNIS,ANI,finalDisposition,variables.CallStartDateInZone,variables.CallStartTimeInZone,calldata.RTargetAgentSelected,calldata.VQ,calldata.ANI,variables.Timezone,survey.iQ1,survey.iQ2,survey.iQ3,survey.sQ4
0,28,July,2021,16028833828,12403531747,Abandoned in Self Service,7/12/2021,4:14:01,bbujanda campos,VQ_Avesis_MedStarMDMCAID_Gov_Dental_Mbr,12403531747,America/Los_Angeles,NaN,NaN,NaN,NaN
1,28,July,2021,18335541009,15617437222,Terminated - Terminate Call,7/12/2021,5:06:34,bbujanda campos,VQ_Avesis_WellMarkSilver_Comm_Vision_Mbr_Phx,15617437222,America/Los_Angeles,NaN,NaN,NaN,NaN
2,28,July,2021,18554693368,13049280028,Abandoned in Self Service,7/12/2021,5:09:44,dlucas,VQ_Avesis_WellCareKY_Gov_Dental_Mbr,13049280028,America/Los_Angeles,NaN,NaN,NaN,NaN
3,28,July,2021,18003274462,18592362243,Abandoned in Self Service,7/12/2021,5:11:36,sbissland@avesis.com,VQ_Avesis_GeneralMCAIDMCARE_Gov_Dental_Prv_MCA...,18592362243,America/Los_Angeles,NaN,NaN,NaN,NaN
4,28,July,2021,18884590791,18004776931,Abandoned in Self Service,7/12/2021,5:15:00,jwithgottIII@avesis.com,VQ_Avesis_Humana_Gov_Dental_Mbr,18004776931,America/Los_Angeles,NaN,NaN,NaN,NaN

In [7]:
#checking the structure of the imported Data
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6316 entries, 0 to 6315
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Week                             6316 non-null   int64
 1   Month                            6316 non-null   object
 2   Year                             6316 non-null   int64
 3   DNIS                             6316 non-null   int64
 4    ANI                             6316 non-null   object
 5    finalDisposition                6316 non-null   object
 6    variables.CallStartDateInZone   6265 non-null   object
 7    variables.CallStartTimeInZone   6265 non-null   object
 8    calldata.RTargetAgentSelected   6140 non-null   object
 9    calldata.VQ                     5647 non-null   object
 10   calldata.ANI                    5512 non-null   object
 11   variables.Timezone              6316 non-null   object
 12   survey.iQ1                      739 non-null    float64
 13   survey.iQ2                      703 non-null    float64
 14   survey.iQ3                      695 non-null    float64
 15   survey.sQ4                      544 non-null    object
dtypes: float64(3), int64(3), object(10)
memory usage: 789.6+ KB

In [8]:
# Check the Sanity of COlumns names - quite possible that there could be white spaces while we import
survey.columns

Index(['Week', 'Month', 'Year', 'DNIS ', ' ANI ', ' finalDisposition ',
       ' variables.CallStartDateInZone ', ' variables.CallStartTimeInZone ',
       ' calldata.RTargetAgentSelected ', ' calldata.VQ ', ' calldata.ANI ',
       ' variables.Timezone ', ' survey.iQ1 ', ' survey.iQ2 ', ' survey.iQ3 ',
       ' survey.sQ4'],
      dtype='object')

In [9]:
#Cleaning the columns names so that we can access the column names easily
survey.columns = survey.columns.str.strip()

In [10]:
# Lets Clean the Data:
# No Blank Rows required in the Agent Columns
Filter_AgentBlank = survey["calldata.RTargetAgentSelected"].notnull()
t = survey[Filter_AgentBlank]
t

,Week,Month,Year,DNIS,ANI,finalDisposition,variables.CallStartDateInZone,variables.CallStartTimeInZone,calldata.RTargetAgentSelected,calldata.VQ,calldata.ANI,variables.Timezone,survey.iQ1,survey.iQ2,survey.iQ3,survey.sQ4
0,28,July,2021,16028833828,12403531747,Abandoned in Self Service,7/12/2021,4:14:01,bbujanda campos,VQ_Avesis_MedStarMDMCAID_Gov_Dental_Mbr,12403531747,America/Los_Angeles,NaN,NaN,NaN,NaN
1,28,July,2021,18335541009,15617437222,Terminated - Terminate Call,7/12/2021,5:06:34,bbujanda campos,VQ_Avesis_WellMarkSilver_Comm_Vision_Mbr_Phx,15617437222,America/Los_Angeles,NaN,NaN,NaN,NaN
2,28,July,2021,18554693368,13049280028,Abandoned in Self Service,7/12/2021,5:09:44,dlucas,VQ_Avesis_WellCareKY_Gov_Dental_Mbr,13049280028,America/Los_Angeles,NaN,NaN,NaN,NaN
3,28,July,2021,18003274462,18592362243,Abandoned in Self Service,7/12/2021,5:11:36,sbissland@avesis.com,VQ_Avesis_GeneralMCAIDMCARE_Gov_Dental_Prv_MCA...,18592362243,America/Los_Angeles,NaN,NaN,NaN,NaN
4,28,July,2021,18884590791,18004776931,Abandoned in Self Service,7/12/2021,5:15:00,jwithgottIII@avesis.com,VQ_Avesis_Humana_Gov_Dental_Mbr,18004776931,America/Los_Angeles,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6309,28,July,2021,14805625098,19164800522,Abandoned in Self Service,7/16/2021,16:57:53,mjuarez,VQ_Avesis_PremierAcc_Gov_Dental_Prv_SAC,19164800522,America/Los_Angeles,NaN,NaN,NaN,NaN
6311,28,July,2021,18003274462,16613281579,Abandoned in Queue,7/16/2021,16:59:35,mjuarez,VQ_Avesis_PremierAcc_Gov_Dental_Prv_LA,16613281579,America/Los_Angeles,NaN,NaN,NaN,NaN
6313,28,July,2021,14805625098,19169555429,Abandoned in Self Service,7/16/2021,17:10:31,mjuarez,VQ_Avesis_PremierAcc_Gov_Dental_Mbr_SAC,19169555429,America/Los_Angeles,NaN,NaN,NaN,NaN
6314,28,July,2021,14805625099,14247500036,Abandoned in Self Service,7/16/2021,17:14:03,rpionk2.sup,VQ_Avesis_PremierAcc_Gov_Dental_Mbr_LA,14247500036,America/Los_Angeles,NaN,NaN,NaN,NaN
6315,28,July,2021,14805625098,19162306467,Abandoned in Self Service,7/16/2021,17:17:15,tsawyer@avesis.com,VQ_Avesis_PremierAcc_Gov_Dental_Mbr_SAC,19162306467,America/Los_Angeles,NaN,NaN,NaN,NaN

In [11]:
#Creating the Actual filter for the Data. 
Filter_AgentBlank = survey["calldata.RTargetAgentSelected"].notnull()
Filter_Q1Blank = survey["survey.iQ1"].notnull()
survey = survey[Filter_AgentBlank & Filter_Q1Blank]
survey

,Week,Month,Year,DNIS,ANI,finalDisposition,variables.CallStartDateInZone,variables.CallStartTimeInZone,calldata.RTargetAgentSelected,calldata.VQ,calldata.ANI,variables.Timezone,survey.iQ1,survey.iQ2,survey.iQ3,survey.sQ4
7,28,July,2021,18882119986,15139043415,Terminated - Terminate Call,7/12/2021,5:26:24,dgonzalez,VQ_Avesis_WellCareKYMCARE_Gov_Dental_Mbr,15139043415,America/Los_Angeles,5.0,5.0,5.0,no
16,28,July,2021,18443916678,12628346510,Terminated - Terminate Call,7/12/2021,5:44:15,bbujanda campos,VQ_Avesis_MedstarFamilyChoiceDC_Gov_Dental_Mbr,12628346510,America/Los_Angeles,5.0,5.0,5.0,no
30,28,July,2021,18882114013,14044141191,Abandoned in Queue,7/12/2021,6:13:45,jhippolyte,VQ_Avesis_WellCareGAMCARE_Gov_Vision_Mbr,14044141191,America/Los_Angeles,4.0,5.0,5.0,no
61,28,July,2021,18442323118,15709537500,Abandoned in Queue,7/12/2021,6:36:12,sbissland@avesis.com,VQ_Avesis_GeisingerPA_Gov_Dental_Rep_Family,15709537500,America/Los_Angeles,5.0,5.0,5.0,NaN
76,28,July,2021,18882114017,15022535184,Abandoned in Queue,7/12/2021,6:45:24,sbissland@avesis.com,VQ_Avesis_WellCareKYMCARE_Gov_Dental_Mbr,15022535184,America/Los_Angeles,5.0,5.0,5.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6254,28,July,2021,14805625098,19162252236,Abandoned in Queue,7/16/2021,15:27:46,dsomerset,VQ_Avesis_PremierAcc_Gov_Dental_Mbr_SAC,19162252236,America/Los_Angeles,4.0,4.0,5.0,NaN
6288,28,July,2021,14805625099,14247500036,Terminated - Terminate Call,7/16/2021,16:15:56,tsawyer@avesis.com,VQ_Avesis_PremierAcc_Gov_Dental_Mbr_LA,14247500036,America/Los_Angeles,4.0,5.0,5.0,no
6290,28,July,2021,17006300016,9162358954,default,7/16/2021,16:20:46,Caroline_Andrews@guardianindia.com,NaN,NaN,America/Los_Angeles,4.0,4.0,4.0,NaN
6291,28,July,2021,14805625098,19162650270,Abandoned in Queue,7/16/2021,16:21:04,jjuarez,VQ_Avesis_PremierAcc_Gov_Dental_Prv_SAC,19162650270,America/Los_Angeles,5.0,5.0,5.0,no
6297,28,July,2021,17006300016,5305924688,Terminated - Terminate Call,7/16/2021,16:25:15,415798,NaN,NaN,America/Los_Angeles,5.0,5.0,5.0,no

In [12]:
survey["totalscore"] = survey[["survey.iQ1", "survey.iQ2", "survey.iQ3"]].fillna(0).sum(axis = 1)
survey["SurveyAnswered"] = survey[["survey.iQ1", "survey.iQ2", "survey.iQ3"]].notnull().sum(axis = 1)
survey

,Week,Month,Year,DNIS,ANI,finalDisposition,variables.CallStartDateInZone,variables.CallStartTimeInZone,calldata.RTargetAgentSelected,calldata.VQ,calldata.ANI,variables.Timezone,survey.iQ1,survey.iQ2,survey.iQ3,survey.sQ4,totalscore,SurveyAnswered
7,28,July,2021,18882119986,15139043415,Terminated - Terminate Call,7/12/2021,5:26:24,dgonzalez,VQ_Avesis_WellCareKYMCARE_Gov_Dental_Mbr,15139043415,America/Los_Angeles,5.0,5.0,5.0,no,15.0,3
16,28,July,2021,18443916678,12628346510,Terminated - Terminate Call,7/12/2021,5:44:15,bbujanda campos,VQ_Avesis_MedstarFamilyChoiceDC_Gov_Dental_Mbr,12628346510,America/Los_Angeles,5.0,5.0,5.0,no,15.0,3
30,28,July,2021,18882114013,14044141191,Abandoned in Queue,7/12/2021,6:13:45,jhippolyte,VQ_Avesis_WellCareGAMCARE_Gov_Vision_Mbr,14044141191,America/Los_Angeles,4.0,5.0,5.0,no,14.0,3
61,28,July,2021,18442323118,15709537500,Abandoned in Queue,7/12/2021,6:36:12,sbissland@avesis.com,VQ_Avesis_GeisingerPA_Gov_Dental_Rep_Family,15709537500,America/Los_Angeles,5.0,5.0,5.0,NaN,15.0,3
76,28,July,2021,18882114017,15022535184,Abandoned in Queue,7/12/2021,6:45:24,sbissland@avesis.com,VQ_Avesis_WellCareKYMCARE_Gov_Dental_Mbr,15022535184,America/Los_Angeles,5.0,5.0,5.0,no,15.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6254,28,July,2021,14805625098,19162252236,Abandoned in Queue,7/16/2021,15:27:46,dsomerset,VQ_Avesis_PremierAcc_Gov_Dental_Mbr_SAC,19162252236,America/Los_Angeles,4.0,4.0,5.0,NaN,13.0,3
6288,28,July,2021,14805625099,14247500036,Terminated - Terminate Call,7/16/2021,16:15:56,tsawyer@avesis.com,VQ_Avesis_PremierAcc_Gov_Dental_Mbr_LA,14247500036,America/Los_Angeles,4.0,5.0,5.0,no,14.0,3
6290,28,July,2021,17006300016,9162358954,default,7/16/2021,16:20:46,Caroline_Andrews@guardianindia.com,NaN,NaN,America/Los_Angeles,4.0,4.0,4.0,NaN,12.0,3
6291,28,July,2021,14805625098,19162650270,Abandoned in Queue,7/16/2021,16:21:04,jjuarez,VQ_Avesis_PremierAcc_Gov_Dental_Prv_SAC,19162650270,America/Los_Angeles,5.0,5.0,5.0,no,15.0,3
6297,28,July,2021,17006300016,5305924688,Terminated - Terminate Call,7/16/2021,16:25:15,415798,NaN,NaN,America/Los_Angeles,5.0,5.0,5.0,no,15.0,3

In [14]:
SurveyCal = survey.groupby(["calldata.RTargetAgentSelected"])[["totalscore", "SurveyAnswered"]].sum()

In [15]:
SurveyCal

                               totalscore  SurveyAnswered
calldata.RTargetAgentSelected
415685                               75.0              15
415686                               48.0              12
415687                                2.0               2
415717                              220.0              54
415721                               37.0              22
...                                   ...             ...
tom_white@guardianindia.com          18.0               6
tsawyer@avesis.com                  104.0              22
tthomas@avesis.com                   30.0              10
yangulo                             150.0              30
zgomez@avesis.com                   104.0              21

[82 rows x 2 columns]

In [16]:
SurveyCal["SurveyScore"] = SurveyCal["totalscore"]/SurveyCal["SurveyAnswered"]

In [17]:
SurveyCal

                               totalscore  SurveyAnswered  SurveyScore
calldata.RTargetAgentSelected
415685                               75.0              15     5.000000
415686                               48.0              12     4.000000
415687                                2.0               2     1.000000
415717                              220.0              54     4.074074
415721                               37.0              22     1.681818
...                                   ...             ...          ...
tom_white@guardianindia.com          18.0               6     3.000000
tsawyer@avesis.com                  104.0              22     4.727273
tthomas@avesis.com                   30.0              10     3.000000
yangulo                             150.0              30     5.000000
zgomez@avesis.com                   104.0              21     4.952381

[82 rows x 3 columns]

In [22]:
name

                          Agent Name
Survey Name
achin-onak           AJ B. Chin-Onak
aortiz@avesis.com    Alexandra Ortiz
areyescaro          Alexis ReyesCaro
aoppenberg.sup      Amanda Oppenberg
Anorton                  Andi Norton
...                              ...
kwatson@avesis.com   Kristina Watson
srankin             Stephanie Rankin
cmcguire              Celine McGuire
eackley             Elizabeth Ackley
scobbi1               Shanyse Cobbin

[100 rows x 1 columns]

In [24]:
pd.merge(SurveyCal,name, left_index= True , right_index= True)[["Agent Name", "SurveyScore"]]

                                        Agent Name  SurveyScore
acarroll                              Anna Carroll     5.000000
afrancis@avesis.com                   Asia Francis     4.969697
aipenaloza@avesis.com                Aide Penaloza     4.968750
amontague                          Ashley Montague     4.956522
anaranjo                           Aracely Naranjo     4.083333
aoppenberg.sup                    Amanda Oppenberg     5.000000
aortiz@avesis.com                  Alexandra Ortiz     5.000000
bbasham@avesis.com                    Betty Basham     4.800000
bbujanda campos              Blanca Bujanda Campos     4.641026
bhollis                             Barbara Hollis     4.606061
chamblin                           Canesha Hamblin     3.785714
cmcguire                            Celine McGuire     4.500000
ctetmey                          Courtney Tetmeyer     4.644444
dgarner                             Derrick Garner     4.703704
dgonzalez                          Denise Gonzalez     4.895833
dlucas                                 Diana Lucas     5.000000
dsomerset                           Donna Somerset     4.904762
dzamora                   Dennise Zamorano Pacheco     4.200000
eackley                           Elizabeth Ackley     4.820513
ejohnson                            Elisha Johnson     4.692308
elowley                               Elisa Lowley     4.690476
eokolotu                          Emmanuel Okolotu     5.000000
erobledo                            Evelyn Robledo     4.888889
eterry                                  Eden Terry     4.000000
halvarenga                       Heysell Alvarenga     4.866667
hmaher1                                Hanna Maher     4.611111
jchavarria@avesis.com            Jessica Chavarria     4.916667
jeneubauer@avesis.com            Jennifer Neubauer     5.000000
jhippolyte                         Jinka Hippolyte     4.500000
jjimenez                              Jael Jimenez     4.562500
jjuarez                             Jessica Juarez     5.000000
jlicea                                 Jesus Licea     5.000000
jwithgottIII@avesis.com          James WithgottIII     4.900000
kdierdorff                        Krisha Dierdorff     5.000000
kharris                               Kathy Harris     4.666667
khollisbryles@avesis.com       Kevin Hollis Bryles     3.800000
kwatson@avesis.com                 Kristina Watson     2.333333
kwhite                              Kasondra White     4.571429
lflores                              Lorena Flores     3.571429
lmchargue                           Lessa McHargue     4.685714
mcantu                                 Maria Cantu     4.944444
mfaulstich                      Mary Ann Faulstich     3.714286
mjuarez                               Maria Juarez     4.250000
mmartinez                         Maritza Martinez     4.833333
mmedina                               Maria Medina     3.538462
mplante.sup                          Marcia Plante     4.666667
omolina                              Olivia Molina     4.666667
sbissland@avesis.com                Sonia Bissland     4.734694
skelly                                Sherry Kelly     5.000000
sordonez                          Samantha Ordonez     5.000000
srankin                           Stephanie Rankin     5.000000
storres                               Sarah Torres     4.806452
taguilar                            Tenise Aguilar     4.571429
tfullwood                  Tyerra Monique Fullwood     4.714286
tsawyer@avesis.com                    Tracy Sawyer     4.727273
tthomas@avesis.com                 Tatyanna Thomas     3.000000
yangulo                              Yuriel Angulo     5.000000
zgomez@avesis.com                        Zoe Gomez     4.952381

In [25]:
Final_Data = pd.merge(SurveyCal,name, left_index= True , right_index= True)[["Agent Name", "SurveyScore"]]

In [26]:
Final_Data.to_csv( "Results", index=False)